<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{header}}</title>
</head>
<body>
    <div>
        <h2>{{header}}</h2>
        <a href="./update/{{task.id}}"><button>Редактировать</button></a>
        <a href="./delete/{{task.id}}"><button>Удалить</button></a>
        <p>{{task.id}} | {{task.title}} | {{task.discr}}</p>
    </div>
</body>
</html>
